<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inProduction</key>
	<true/>
	<key>developmentAppKey</key>
	<string>xY7obsdFTxqMkNSTpxkh6g</string>
	<key>developmentAppSecret</key>
	<string>VkSC3McTQnSCilPVEYCb2w</string>
	<key>productionAppKey</key>
	<string>syNdAQocQ8-Rrjd5VfIbng</string>
	<key>productionAppSecret</key>
	<string>d90JM8yUS1WtF4dO3jB2rw</string>
</dict>
</plist>
