<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tags</key>
	<array>
		<string>IND</string>
	</array>
	<key>alias</key>
	<string>G800189_dnpnl4jjg5mf</string>
	<key>firstName</key>
	<string>Test</string>
	<key>lastName</key>
	<string>User</string>
	<key>corpID</key>
	<string>G800192</string>
	<key>location</key>
	<string>ind</string>
	<key>mail</key>
	<string>test.mailadminbraexcap0112@ucb.com</string>
	<key>serialNumber</key>
	<string>dnpnl4jjg5mf</string>
</dict>
</plist>
